<div class="center-text">
  <div>
    <h1 class="center-text">Memorize all the necessary information!</h1>
    <p>Learn some cool things about the art and history pieces and their information. In the next part of the
      application
      you will be able to play memory with the art pieces and their information.</p>
  </div>
  <div>
    <div *ngFor="let piece of pieces">
      <div class="row justify-content-center">
        <div class="col-4">
          <div class="card mt-5">
            <img
              [src]="piece.image"
              class="card-img-top"
              style="width: auto"
              alt="{{ piece.title + ' by ' + piece.creator }}"
            />
            <div class="card-body">
              <h1 class="card-title">{{ piece.title }}</h1>
              <p *ngIf="piece.description">{{piece.description}}</p>
              <p *ngIf="piece.creator"><strong>Creator:</strong> {{piece.creator}}</p>
              <p *ngIf="piece.location"><strong>Museum:</strong> {{piece.location}}</p>
              <p *ngIf="piece.creatorLocation"><strong>Location of creator:</strong> {{piece.creator}}</p>
              <p *ngIf="piece.material"><strong>Material:</strong> {{piece.material}}</p>
              <p *ngIf="piece.technique"><strong>Technique:</strong> {{piece.technique}}</p>
              <p *ngIf="piece.category"><strong>Category:</strong> {{piece.category}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <p>Are you ready to get started?</p>
    <button (click)="router.navigate(['/memory'], {state: {pieces: pieces}});" class="btn btn-lg btn-warning">I am
      ready
    </button>
  </div>
</div>
