<div class="center-text">
  <h1 class="m-2">WOAW!</h1>
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F3a%2Fa0%2Fae%2F3aa0ae67c682b46662591cc21ece6e46.gif&f=1&nofb=1">
  <h1 class="center-text mt-5">Congratulations!</h1>
  <p>Hopelijk heb je iets bijgeleerd! Als je geintereseerd bent in één van onze musea, kun je hier <a href="https://data.collectie.gent/">meer info vinden</a>.</p>
  <button (click)="router.navigate(['/']);" class="btn btn-lg btn-success">Start opnieuw!</button>
</div>
